
<div class="row nav">
	<div class="col-xs-4 home">
        <div class="pull-left">
            <a routerLink='/wish-list' href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </div>
    </div>

    <div class="col-xs-8">
        <div class="dropdown home pull-right">
            <a routerLink='/cart' class="dropdown-toggle cart-icon" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="true">
                <i class="fa fa-shopping-cart home" aria-hidden="true"></i> Cart
                
            </a>
            
            <div class="dropdown-menu cart-box">
                <div class="cart">
                    
                    <div class="row">
                        <div class="col-xs-4">
                            
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="badge"></span>
                        </div>
                        <div class="col-xs-4 text-right">
                           
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="text-right">
                            <div class="totalPrice">Total: Rs  </div>
                            <a href="/cart/" class="checkout btn btn-success">Procceed</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
