h1 {
  text-align: left;
  font-family: "Lato";
  margin-left: 10vw;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list{
  width: 70%;
  }

.list-content {
	margin: 3%;
	pdding: 3%
}

.add-to-cart {
  float: right;
  border: none;
  background-color: #d14b6e;
  justify-content: center;
  text-align: center;
  color: white;
}
.add-to-cart:hover {
  position: relative;
  border: none;
  background-color: #e63665;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  -ms-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.thumbnail {
  background-color: transparent;
  border: transparent;
  margin-left: 5vw;
  margin-right: 5vw;

  margin-bottom: 0;
  padding-bottom: 0%;
}

.title {
	font-weight: bold;
	font-size: 30px;
}